<mat-card>
  <mat-card-header>
    <mat-card-title>New Product</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput #name="ngModel" [(ngModel)]="formData.name" name="name" placeholder="Name" required />
      </mat-form-field>

      <mat-form-field>
        <input type="number" matInput #price="ngModel" [(ngModel)]="formData.price" name="price" placeholder="Price" required />
      </mat-form-field>

      <div class="image-picker">
        <!-- <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button> -->
        <!-- <input type="file" class="input-file" #filePicker (change)="onImagePicked($event)"> -->
        <input type="file" ng2FileSelect [uploader]="uploader" />
      </div>

      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview">
      </div>

      <button mat-raised-button color="primary">Submit</button>
    </form>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>Ok</button>
  </mat-card-actions> -->
</mat-card>
